<!-- <div class="page-titles p-b-0">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="#">Composer</a></li>
        <li class="breadcrumb-item active"><a href="#">About</a></li>
    </ol>
</div> -->

<div class="row">
    <div class="col-lg-12 row">
        <div class="card col-md-10 col-lg-8">
            <div class="card-body">
                <h5>
                    Spektune is a collaborative project that turns data into music.
                </h5>
                <p>
                    We have collected data from NASA satellites that monitor earth's oceans, and have applied
                    musical theory to the data to create sonifications that express the natural harmonies that
                    exist in nature.
                </p>
                <div class="row">
                    <div class="col-md col-lg">&nbsp;</div>
                    <div class="col-md col-lg sample-box">
                        <iframe class="e2e-iframe-trusted-src" width="400" height="225" src="https://www.youtube-nocookie.com/embed/P4_JPZYaUOM" title="Spektune - Rio de la Plata"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <p>In this example, listen as we travel across the Rio de la Plata estuary in the southwest Atlantic
                            Ocean. The patterns you hear in the music are the same patterns that enable scientists to unravel the 
                            microscopic composition of the ocean from space.
                        </p>
                    </div>
                    <div class="col-md col-lg">&nbsp;</div>
                    <div class="col-md col-lg sample-box">
                        <iframe class="e2e-iframe-trusted-src" width="400" height="225"
                            src="https://www.youtube-nocookie.com/embed/I2ND7_p2tTc" title="Spektune - Coral Sea" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <p>Listen to the seasons change in this ambient soundscape taken from a
                            year-long survey of the Coral Sea off the coast of Queensland, Australia</p>
                    </div>
                    <div class="col-md col-lg">&nbsp;</div>
                </div>
                <h4><a href="/composer">Make your own sonifications!</a></h4>
                <p><a href="/composer" style="font-weight: 800;">Spektune Composer</a> help you make sonifications of your own. 
                    Simply input your data into tracks and configure the musical rules to apply to it. You can preview
                    the tracks in the tool, but it really shines when you export a MIDI file and bring it into musical 
                    production software like Garage Band, Logic Pro, Fruity Loops and the like.</p>
            </div>
        </div>
    </div>
</div>
`